PS C:\Users\User\Desktop\個人資料表> pip list
Package                   Version
------------------------- ------------
aenum                     3.1.17
aiofiles                  25.1.0
aiohappyeyeballs          2.6.1
aiohttp                   3.13.5
aiosignal                 1.4.0
altgraph                  0.17.5
annotated-doc             0.0.5
annotated-types           0.7.0
anyio                     4.12.1
async-timeout             5.0.1
attrs                     26.1.0
beautifulsoup4            4.15.0
bidict                    0.23.1
blinker                   1.9.0
bottle                    0.13.4
cachelib                  0.14.0
certifi                   2026.7.22
cffi                      2.0.0
chardet                   5.2.0
charset-normalizer        3.5.1
click                     8.1.8
clr_loader                0.2.10
colorama                  0.4.6
contourpy                 1.3.0
cryptography              50.0.0
curl_cffi                 0.13.0
cycler                    0.12.1
Deprecated                1.3.1
dnspython                 2.7.0
docutils                  0.23
et_xmlfile                2.0.0
eventlet                  0.40.4
exceptiongroup            1.3.1
fastapi                   0.128.8
Flask                     2.3.3
flask-core                2.9.0
flask-cors                6.0.5
Flask-Session             0.8.0
Flask-SocketIO            5.6.1
fonttools                 4.60.2
frozendict                2.4.7
frozenlist                1.8.0
future                    1.0.0
graphviz                  0.21
greenlet                  3.1.1
h11                       0.16.0
html5lib                  1.1
httpcore                  1.0.9
httptools                 0.8.0
httpx                     0.28.1
idna                      3.19
ifaddr                    0.2.0
importlib_metadata        8.7.1
importlib_resources       6.5.2
itsdangerous              2.2.0
Jinja2                    3.1.6
kiwisolver                1.4.7
ldap3                     2.9.1
line-bot-sdk              3.21.0
loguru                    0.7.3
lxml                      6.1.2
markdown-it-py            3.0.0
markdown2                 2.5.5
MarkupSafe                3.0.3
matplotlib                3.9.4
mdurl                     0.1.2
msgspec                   0.20.0
multidict                 6.7.1
multitasking              0.0.13
nicegui                   3.6.1
numpy                     2.0.2
openpyxl                  3.1.5
orjson                    3.11.5
outcome                   1.3.0.post0
packaging                 26.3
pandas                    2.3.3
peewee                    4.3.0
pefile                    2024.8.26
pillow                    11.3.0
ping3                     5.1.5
pip                       26.0.1
platformdirs              4.4.0
propcache                 0.4.1
protobuf                  6.33.6
proxy_tools               0.1.0
psutil                    7.2.2
psycopg2                  2.9.12
psycopg2-binary           2.9.12
pyasn1                    0.6.4
pycparser                 2.23
pydantic                  2.13.4
pydantic_core             2.46.4
Pygments                  2.21.0
pyinstaller               6.22.2
pyinstaller-hooks-contrib 2026.6
PyMySQL                   1.2.0
pyparsing                 3.3.2
PySocks                   1.7.1
python-dateutil           2.9.0.post0
python-dotenv             1.2.1
python-engineio           4.13.5
python-multipart          0.0.20
python-socketio           5.16.4
pythonnet                 3.0.5
pytz                      2026.3.post1
pywebview                 6.2.1
pywin32                   312
pywin32-ctypes            0.2.3
PyYAML                    6.0.3
requests                  2.32.5
rich                      15.0.0
selenium                  4.36.0
setuptools                58.1.0
simple-websocket          1.1.0
six                       1.17.0
sniffio                   1.3.1
sortedcontainers          2.4.0
soupsieve                 2.8.4
SQLAlchemy                2.0.52
starlette                 0.49.3
tabulate                  0.9.0
tqdm                      4.70.0
trio                      0.31.0
trio-websocket            0.12.2
twstock                   1.4.6
typing_extensions         4.16.0
typing-inspection         0.4.2
tzdata                    2026.3
urllib3                   2.6.3
uvicorn                   0.39.0
waitress                  3.0.2
watchfiles                1.1.1
webencodings              0.5.1
websocket-client          1.9.0
websockets                15.0.1
Werkzeug                  3.1.8
win32_setctime            1.2.0
wrapt                     2.3.0
wsproto                   1.2.0
xlrd                      2.0.2
xlsxwriter                3.2.9
yarl                      1.22.0
yfinance                  1.2.0
zipp                      3.23.1